{% extends "admin/change_list.html" %}
{#{% block object-tools-items %}#}
{#  <li>#}
{#    <a href="/admin/deposits/deposit/skip_day" class="newcolor">#}
{#     Завершить день#}
{#    </a>#}
{#  </li>#}
{#  <li>#}
{#    <a href="/admin/deposits/deposit/skip_month" class="newcolor">#}
{#     Завершить месяц#}
{#    </a>#}
{#  </li>#}
{#  <li>#}
{#    <a href="/admin/deposits/deposit/revoke" class="newcolor">#}
{#     Востребовать#}
{#    </a>#}
{#  </li>#}
{#  {{ block.super }}#}
{#{% endblock %}#}