# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\admin\Documents\4 курс\ПиРИС\ПиРИС\PiRIS\PiRIS\lab1\BankSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
